button.menu-btn menu
.menu-test
    button.open-box open box
    button.lng-btn en
    button.auth-btn auth
    button.popups-btn menu popups
    .menu-popup.hide
        button(onclick=`openPopupByAttr('preloader')`) preloader
        - for (let i = 1; i <= 12; i++)
            button(onclick=`openPopupByAttr('prize${i}')`) приз #{i}
        - for (let i = 1; i <= 10; i++)
            button(onclick=`openPopupByAttr('infoPrize${i}')`) слайд #{i}

.fav-page.loading
    .spinner-overlay
        .spinner
    .welcome
        .welcome__wrap
            .welcome__left
                .welcome__left-wrap
                    .welcome__title
                        picture.uk
                            source(media="(max-width: 1050px)" srcset='img/welcome/title-mob.png')
                            img(src="img/welcome/title.png" alt="favbet")
                        picture.en
                            source(media="(max-width: 1050px)" srcset='img/welcome/title-mob-en.png')
                            img(src="img/welcome/title-en.png" alt="favbet")
                    .welcome__found.title(data-translate="welcomeFound")
                    .welcome__prize.title(data-translate="welcomePrize")
                    a.welcome__btn.btn.unauth-msg(data-translate="authBtn" href="/login") 
                    button.welcome__btn.btn.part-btn.hide(data-translate="joinBtn") 
                    button.welcome__btn.btn.play-btn.hide(data-translate="playBtn") 
                    button.welcome__btn.btn.deposit-btn.hide(data-translate="depositBtn") 
            .welcome__right
                .welcome__pers
                    picture.welcome__pers-item.welcome__pers-item--left
                        source(media="(max-width: 600px)" srcset='img/welcome/pers-left-mob.png')
                        source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/welcome/pers-left-mob.png')
                        source(media="(max-width: 1050px)" srcset='img/welcome/pers-left-tab.png')
                        img(src="img/welcome/pers-left.png" alt="Favbet")
                    picture.welcome__pers-item.welcome__pers-item--center
                        source(media="(max-width: 600px)" srcset='img/welcome/pers-center-mob.png')
                        source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/welcome/pers-center-mob.png')
                        source(media="(max-width: 1050px)" srcset='img/welcome/pers-center-tab.png')
                        img(src="img/welcome/pers-center.png" alt="Favbet")
                    picture.welcome__pers-item.welcome__pers-item--right
                        source(media="(max-width: 600px)" srcset='img/welcome/pers-right-mob.png')
                        source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/welcome/pers-right-mob.png')
                        source(media="(max-width: 1050px)" srcset='img/welcome/pers-right-tab.png')
                        img(src="img/welcome/pers-right.png" alt="Favbet")
                    picture.welcome__pers-item.welcome__pers-item--light
                        source(media="(max-width: 600px)" srcset='img/welcome/light-mob.png')
                        source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/welcome/light-mob.png')
                        img(src="img/welcome/light.png" alt="Favbet")
                    picture.welcome__pers-item.welcome__pers-item--box-left
                        source(media="(max-width: 600px)" srcset='img/welcome/box-left-mob.png')
                        source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/welcome/box-left-mob.png')
                        img(src="img/welcome/box-left.png" alt="Favbet")
                    picture.welcome__pers-item.welcome__pers-item--coins-front
                        source(media="(max-width: 600px)" srcset='img/welcome/coins-front-mob.png')
                        source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/welcome/coins-front-mob.png')
                        img(src="img/welcome/coins-front.png" alt="Favbet")
                    picture.welcome__pers-item.welcome__pers-item--coins-back
                        source(media="(max-width: 600px)" srcset='img/welcome/coins-back-mob.png')
                        source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/welcome/coins-back-mob.png')
                        img(src="img/welcome/coins-back.png" alt="Favbet")
                    picture.welcome__pers-item.welcome__pers-item--coin
                        source(media="(max-width: 600px)" srcset='img/welcome/coin-mob.png')
                        source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/welcome/coin-mob.png')
                        img(src="img/welcome/coin.png" alt="Favbet")
                    picture.welcome__pers-item.welcome__pers-item--box
                        source(media="(max-width: 600px)" srcset='img/welcome/box-mob.png')
                        source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/welcome/box-mob.png')
                        img(src="img/welcome/box.png" alt="Favbet")

    .prize
        .prize__title.title(data-translate="prizeTitle")
        .prize__slider
            .cards
                //- Картка 1
                .card
                    .card__popup(data-popup="infoPrize1")
                    picture.card__img
                        source(media="(max-width: 600px)" srcset='img/prize/prize1-mob.png')
                        source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/prize/prize1-mob.png')
                        img(src="img/prize/prize1.png" alt="Favbet")
                    .card__text(data-translate="textPrize1")
                    .card__amount(data-translate="amountPrize1") 

                //- Картка 2
                .card
                    .card__popup(data-popup="infoPrize2")
                    picture.card__img
                        source(media="(max-width: 600px)" srcset='img/prize/prize2-mob.png')
                        source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/prize/prize2-mob.png')
                        img(src="img/prize/prize2.png" alt="Favbet")
                    .card__text(data-translate="textPrize2")
                    .card__amount(data-translate="amountPrize2") 

                //- Картка 4
                .card
                    .card__popup(data-popup="infoPrize4")
                    picture.card__img
                        source(media="(max-width: 600px)" srcset='img/prize/prize4-mob.png')
                        source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/prize/prize4-mob.png')
                        img(src="img/prize/prize4.png" alt="Favbet")
                    .card__text(data-translate="textPrize4")
                    .card__amount(data-translate="amountPrize4") 

                //- Картка 3
                .card
                   .card__popup(data-popup="infoPrize3")
                   picture.card__img
                       source(media="(max-width: 600px)" srcset='img/prize/prize3-mob.png')
                       source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/prize/prize3-mob.png')
                       img(src="img/prize/prize3.png" alt="Favbet")
                   .card__text(data-translate="textPrize3")
                   .card__amount(data-translate="amountPrize3")
                //- Картка 5
                .card
                    .card__popup(data-popup="infoPrize5")
                    picture.card__img
                        source(media="(max-width: 600px)" srcset='img/prize/prize5-mob.png')
                        source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/prize/prize5-mob.png')
                        img(src="img/prize/prize5.png" alt="Favbet")
                    .card__text(data-translate="textPrize5")
                    .card__amount(data-translate="amountPrize5") 

                //- Картка 6
                .card
                    .card__popup(data-popup="infoPrize6")
                    picture.card__img
                        source(media="(max-width: 600px)" srcset='img/prize/prize6-mob.png')
                        source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/prize/prize6-mob.png')
                        img(src="img/prize/prize6.png" alt="Favbet")
                    .card__text(data-translate="textPrize6")
                    .card__amount(data-translate="amountPrize6") 

                //- Картка 7
                .card
                    .card__popup(data-popup="infoPrize7")
                    picture.card__img
                        source(media="(max-width: 600px)" srcset='img/prize/prize7-mob.png')
                        source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/prize/prize7-mob.png')
                        img(src="img/prize/prize7.png" alt="Favbet")
                    .card__text(data-translate="textPrize7")
                    .card__amount(data-translate="amountPrize7") 

                //- Картка 8
                .card
                    .card__popup(data-popup="infoPrize8")
                    picture.card__img
                        source(media="(max-width: 600px)" srcset='img/prize/prize8-mob.png')
                        source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/prize/prize8-mob.png')
                        img(src="img/prize/prize8.png" alt="Favbet")
                    .card__text(data-translate="textPrize8")
                    .card__amount(data-translate="amountPrize8") 

                //- Картка 9
                .card
                    .card__popup(data-popup="infoPrize9")
                    picture.card__img
                        source(media="(max-width: 600px)" srcset='img/prize/prize9-mob.png')
                        source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/prize/prize9-mob.png')
                        img(src="img/prize/prize9.png" alt="Favbet")
                    .card__text(data-translate="textPrize9")

                //- Картка 10
                .card
                    .card__popup(data-popup="infoPrize10")
                    picture.card__img
                        source(media="(max-width: 600px)" srcset='img/prize/prize10-mob.png')
                        source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/prize/prize10-mob.png')
                        img(src="img/prize/prize10.png" alt="Favbet")
                    .card__text(data-translate="textPrize10")
            .prize__move
                .prize__move-left
                .prize__move-right
        .prize__dots
            .prize__dots-item
            .prize__dots-item
            .prize__dots-item
            .prize__dots-item
            .prize__dots-item
            .prize__dots-item
            .prize__dots-item
            .prize__dots-item
            .prize__dots-item
            .prize__dots-item
    .box
        .box__left
            .box__logo
            .box__coins
                .box__coins-item
                    img(src="img/box/coins/coin1.png" alt="favbet")
                .box__coins-item
                    img(src="img/box/coins/coin2.png" alt="favbet")
                .box__coins-item
                    img(src="img/box/coins/coin3.png" alt="favbet")
                .box__coins-item
                    img(src="img/box/coins/coin4.png" alt="favbet")
                .box__coins-item
                    img(src="img/box/coins/coin5.png" alt="favbet")
                .box__coins-item
                    img(src="img/box/coins/coin6.png" alt="favbet")
                .box__coins-item
                    img(src="img/box/coins/coin7.png" alt="favbet")
            .box__open
                picture.box__open-cap
                    source(media="(max-width: 600px)" srcset='img/box/open-cap-mob.png')
                    source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/box/open-cap-mob.png')
                    img(src="img/box/open-cap.png" alt="Favbet")
                .box__open-body
                    source(media="(max-width: 600px)" srcset='img/box/open-body-mob.png')
                    source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/box/open-body-mob.png')
                    img(src="img/box/open-body.png" alt="Favbet")
        .box__right
            .box__right-title.title(data-translate="yourProgress")
            .box__progress
                .box__progress-body
                    .box__progress-bar
                .box__progress-counter.title 1000/1000
            .box__last
                .box__last-text(data-translate="lastUpd")
                .box__last-date ХХ.ХХ.2025 о хх:хх
            .box__right-wrap
                a.box__btn.btn.unauth-msg.hide(data-translate="authBtn" href="/login") 
                button.box__btn.btn.part-btn.hide(data-translate="joinBtn") 
                button.box__btn.btn-open.play-btn
                    span.btn-open-text(data-translate="openBtn") 
                    span.btn-open-counter(data-translate="openCounter") 
                button.box_btn.btn.deposit-btn.hide(data-translate="depositBtn") 
                .box__right-info(data-translate="boxInfo")
            .box__right-mob
                .box__right-info(data-translate="boxInfo")
                .box__right-bottom
                    .box__right-bottom-icon
                    .box__right-bottom-text(data-translate="moreSpins")
        .box__bottom
            .box__bottom-left
                .box__bottom-icon
                    img(src="img/box/icon-casino.png" alt="favbet")
                a.box__bottom-btn.btn(data-translate="casinoBtn" href="#")
            .box__bottom-separator
                img(src="img/box/icon-separator.png" alt="favbet")
            .box__bottom-right
                .box__bottom-icon
                    img(src="img/box/icon-sport.png" alt="favbet")
                a.box__bottom-btn.btn(data-translate="sportBtn" href="#")
    .drop.drop--spins
        details.dropdown
            summary(data-translate="mySpins")
            .drop-txt
                .drop-txt-list.my-spins
                    .spins-row
                        .spins-row-head
                            .content-date(data-translate="myBetDate")
                            .content-prize(data-translate="myBetId")
                    .spins-row
                        .spins-row-item
                            .content-date 18.08
                            .content-prize Навушники SteelSeries Arctis
                    .spins-row
                        .spins-row-item
                            .content-date 18.08
                            .content-prize Консоль Nintendo Switch 2
                    .spins-row
                        .spins-row-item
                            .content-date 18.08
                            .content-prize Телефон Apple iPhone 16 Pro Max
                    .spins-row
                        .spins-row-item
                            .content-date 18.08
                            .content-prize Окуляри віртуальної реальності PS VR2
                    .spins-row
                        .spins-row-item
                            .content-date 18.08
                            .content-prize Ігрова приставка PlayStation 5 Slim
                    .spins-row
                        .spins-row-item
                            .content-date 18.08
                            .content-prize Ноутбук Gigabyte Aorus 16X 9SG
                    .spins-row
                        .spins-row-item
                            .content-date 18.08
                            .content-prize Електросамокат Proove Model X-City
                    .spins-row
                        .spins-row-item
                            .content-date 18.08
                            .content-prize Телевізор Samsung OLED 77
                    .spins-row
                        .spins-row-item
                            .content-date 18.08
                            .content-prize XX FS
                    .spins-row
                        .spins-row-item
                            .content-date 18.08
                            .content-prize Страховка ставки XXXX
                    .spins-row
                        .spins-row-item
                            .content-date 18.08
                            .content-prize Пощастить наступний раз
                    .spins-row
                        .spins-row-item
                            .content-date 18.08
                            .content-prize  ще

                    .no-spins.hide(data-translate="noBets")
    .drop
        details.dropdown
            summary(data-translate="openGuideBtn")
            .drop-txt
                .drop-txt-list(data-translate="openGuide")
    .drop
        details.dropdown
            summary(data-translate="progressbarbtn")
            .drop-txt
                .drop-txt-list(data-translate="progressbarinfo")
    .drop
        details.dropdown
            summary(data-translate="bonusInfoBtn")
            .drop-txt
                .drop-txt-list(data-translate="bonusInfo")
    .drop
        details.dropdown
            summary(data-translate="rulseBtn") Офіційні правила
            .drop-txt
                .drop-txt-list(data-translate="rules")
    .fav-page__bottom(data-translate="bottomText")
    .popups.opacity-overlay
        //- Попап 1
        .popup(data-popup="prize1")
            .popup__wrap
                .popup__title.title(data-translate="popupTitle")
                .card
                    picture.card__img
                        source(media="(max-width: 600px)" srcset='img/prize/prize1-mob.png')
                        source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/prize/prize1-mob.png')
                        img(src="img/prize/prize1.png" alt="Favbet")
                    .card__text(data-translate="textPrize1")
                    .card__close
                .popup__connect
                    .popup__connect-icon
                    .popup__connect-text(data-translate="popupConnectText")
                button.popup__btn.btn.hide(data-translate="playMoreBtn")
                button.popup__btn.btn-open.play-btn
                    span.btn-open-text(data-translate="openBtn") 
                    span.btn-open-counter(data-translate="openCounter") 

        //- Попап 2
        .popup(data-popup="prize2")
            .popup__wrap
                .popup__title.title(data-translate="popupTitle")
                .card
                    picture.card__img
                        source(media="(max-width: 600px)" srcset='img/prize/prize2-mob.png')
                        source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/prize/prize2-mob.png')
                        img(src="img/prize/prize2.png" alt="Favbet")
                    .card__text(data-translate="textPrize2")
                    .card__close
                .popup__connect
                    .popup__connect-icon
                    .popup__connect-text(data-translate="popupConnectText")
                button.popup__btn.btn.hide(data-translate="playMoreBtn")
                button.popup__btn.btn-open.play-btn
                    span.btn-open-text(data-translate="openBtn") 
                    span.btn-open-counter(data-translate="openCounter") 

        //- Попап 3
        .popup(data-popup="prize3")
            .popup__wrap
                .popup__title.title(data-translate="popupTitle")
                .card
                    picture.card__img
                        source(media="(max-width: 600px)" srcset='img/prize/prize3-mob.png')
                        source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/prize/prize3-mob.png')
                        img(src="img/prize/prize3.png" alt="Favbet")
                    .card__text(data-translate="textPrize3")
                    .card__close
                .popup__connect
                    .popup__connect-icon
                    .popup__connect-text(data-translate="popupConnectText")
                button.popup__btn.btn.hide(data-translate="playMoreBtn")
                button.popup__btn.btn-open.play-btn
                    span.btn-open-text(data-translate="openBtn") 
                    span.btn-open-counter(data-translate="openCounter") 

        //- Попап 4
        .popup(data-popup="prize4")
            .popup__wrap
                .popup__title.title(data-translate="popupTitle")
                .card
                    picture.card__img
                        source(media="(max-width: 600px)" srcset='img/prize/prize4-mob.png')
                        source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/prize/prize4-mob.png')
                        img(src="img/prize/prize4.png" alt="Favbet")
                    .card__text(data-translate="textPrize4")
                    .card__close
                .popup__connect
                    .popup__connect-icon
                    .popup__connect-text(data-translate="popupConnectText")
                button.popup__btn.btn.hide(data-translate="playMoreBtn")
                button.popup__btn.btn-open.play-btn
                    span.btn-open-text(data-translate="openBtn") 
                    span.btn-open-counter(data-translate="openCounter") 

        //- Попап 5
        .popup(data-popup="prize5")
            .popup__wrap
                .popup__title.title(data-translate="popupTitle")
                .card
                    picture.card__img
                        source(media="(max-width: 600px)" srcset='img/prize/prize5-mob.png')
                        source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/prize/prize5-mob.png')
                        img(src="img/prize/prize5.png" alt="Favbet")
                    .card__text(data-translate="textPrize5")
                    .card__close
                .popup__connect
                    .popup__connect-icon
                    .popup__connect-text(data-translate="popupConnectText")
                button.popup__btn.btn.hide(data-translate="playMoreBtn")
                button.popup__btn.btn-open.play-btn
                    span.btn-open-text(data-translate="openBtn") 
                    span.btn-open-counter(data-translate="openCounter") 

        //- Попап 6
        .popup(data-popup="prize6")
            .popup__wrap
                .popup__title.title(data-translate="popupTitle")
                .card
                    picture.card__img
                        source(media="(max-width: 600px)" srcset='img/prize/prize6-mob.png')
                        source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/prize/prize6-mob.png')
                        img(src="img/prize/prize6.png" alt="Favbet")
                    .card__text(data-translate="textPrize6")
                    .card__close
                .popup__connect
                    .popup__connect-icon
                    .popup__connect-text(data-translate="popupConnectText")
                button.popup__btn.btn.hide(data-translate="playMoreBtn")
                button.popup__btn.btn-open.play-btn
                    span.btn-open-text(data-translate="openBtn") 
                    span.btn-open-counter(data-translate="openCounter") 

        //- Попап 7
        .popup(data-popup="prize7")
            .popup__wrap
                .popup__title.title(data-translate="popupTitle")
                .card
                    picture.card__img
                        source(media="(max-width: 600px)" srcset='img/prize/prize7-mob.png')
                        source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/prize/prize7-mob.png')
                        img(src="img/prize/prize7.png" alt="Favbet")
                    .card__text(data-translate="textPrize7")
                    .card__close
                .popup__connect
                    .popup__connect-icon
                    .popup__connect-text(data-translate="popupConnectText")
                button.popup__btn.btn.hide(data-translate="playMoreBtn")
                button.popup__btn.btn-open.play-btn
                    span.btn-open-text(data-translate="openBtn") 
                    span.btn-open-counter(data-translate="openCounter") 

        //- Попап 8
        .popup(data-popup="prize8")
            .popup__wrap
                .popup__title.title(data-translate="popupTitle")
                .card
                    picture.card__img
                        source(media="(max-width: 600px)" srcset='img/prize/prize8-mob.png')
                        source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/prize/prize8-mob.png')
                        img(src="img/prize/prize8.png" alt="Favbet")
                    .card__text(data-translate="textPrize8")
                    .card__close
                .popup__connect
                    .popup__connect-icon
                    .popup__connect-text(data-translate="popupConnectText")
                button.popup__btn.btn.hide(data-translate="playMoreBtn")
                button.popup__btn.btn-open.play-btn
                    span.btn-open-text(data-translate="openBtn") 
                    span.btn-open-counter(data-translate="openCounter") 

        //- Попап 9
        .popup(data-popup="prize9")
            .popup__wrap
                .popup__title.title(data-translate="popupTitle")
                .card
                    picture.card__img
                        source(media="(max-width: 600px)" srcset='img/prize/prize9-mob.png')
                        source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/prize/prize9-mob.png')
                        img(src="img/prize/prize9.png" alt="Favbet")
                    .card__text(data-translate="textPrize9")
                    .card__close
                .popup__connect
                    .popup__connect-icon
                    .popup__connect-text(data-translate="popupBonusText")
                button.popup__btn.btn.hide(data-translate="playMoreBtn")
                button.popup__btn.btn-open.play-btn
                    span.btn-open-text(data-translate="openBtn") 
                    span.btn-open-counter(data-translate="openCounter") 

        //- Попап 10
        .popup(data-popup="prize10")
            .popup__wrap
                .popup__title.title(data-translate="popupTitle")
                .card
                    picture.card__img
                        source(media="(max-width: 600px)" srcset='img/prize/prize10-mob.png')
                        source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/prize/prize10-mob.png')
                        img(src="img/prize/prize10.png" alt="Favbet")
                    .card__text(data-translate="textPrize10")
                    .card__close
                .popup__connect
                    .popup__connect-icon
                    .popup__connect-text(data-translate="popupBonusText")
                button.popup__btn.btn.hide(data-translate="playMoreBtn")
                button.popup__btn.btn-open.play-btn
                    span.btn-open-text(data-translate="openBtn") 
                    span.btn-open-counter(data-translate="openCounter") 

        //- Попап 11
        .popup(data-popup="prize11")
            .popup__wrap
                .popup__title.title(data-translate="popupTitle")
                .card
                    picture.card__img
                        source(media="(max-width: 600px)" srcset='img/prize/prize11-mob.png')
                        source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/prize/prize11-mob.png')
                        img(src="img/prize/prize11.png" alt="Favbet")
                    .card__text(data-translate="textPrize11") Пощастить наступний раз
                    .card__close
                button.popup__btn.btn.hide(data-translate="playMoreBtn")
                button.popup__btn.btn-open.play-btn
                    span.btn-open-text(data-translate="openBtn") 
                    span.btn-open-counter(data-translate="openCounter") 

        //- Попап 12
        .popup(data-popup="prize12")
            .popup__wrap
                .popup__title.title(data-translate="popupTitle")
                .card
                    picture.card__img
                        source(media="(max-width: 600px)" srcset='img/prize/prize12-mob.png')
                        source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/prize/prize12-mob.png')
                        img(src="img/prize/prize12.png" alt="Favbet")
                    .card__text(data-translate="textPrize12")
                    .card__close
                button.popup__btn.btn.hide(data-translate="playMoreBtn")
                button.popup__btn.btn-open.play-btn
                    span.btn-open-text(data-translate="openBtn") 
                    span.btn-open-counter(data-translate="openCounter") 


        //prize preloader

        .popup.popup--preloader(data-popup="preloader")
            .card
                .card__inner.is-hide
                    .card__front
                        img(src='img/logo-green.png' alt="favbet")
                .card__inner.card__inner--prize.is-hide
                    .card__front
                        img(src='img/logo-blue.png' alt="favbet")
                    - for (let i = 1; i <= 12; i++)
                        .card__back.hide(data-prize=`prize${i}`)
                            picture.card__img
                                source(media="(max-width: 600px)" srcset=`img/prize/prize${i}-mob.png`)
                                source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset=`img/prize/prize${i}-mob.png`)
                                img(src=`img/prize/prize${i}.png` alt="Favbet")
                            .card__text(data-translate=`textPrize${i}`)

                .card__inner.is-hide
                    .card__front
                        img(src='img/logo-red.png' alt="favbet")

        //prize preloader

        /// info prize popups

        - for (let i = 1; i <= 12; i++)
            .popup.popup--info(data-popup=`infoPrize${i}`)
                .popup__wrap
                    .popup__close
                    .popup__title(data-translate=`infoTitlePrize${i}`)
                    .popup__scroll
                        .popup__text(data-translate=`infoTextPrize${i}`)


