button.menu-btn menu
.menu-test
    button.open-box open box
    button.lng-btn en
    button.auth-btn auth
    button.popups-btn menu popups
    .menu-popup.hide
        button(onclick=`openPopupByAttr('preloader')`) preloader
        - for (let i = 1; i <= 12; i++)
            button(onclick=`openPopupByAttr('prize${i}')`) приз #{i}
        - for (let i = 1; i <= 12; i++)
            button(onclick=`openPopupByAttr('infoPrize${i}')`) слайд #{i}

.fav-page.loading
    .spinner-overlay
        .spinner
    .welcome
        .welcome__wrap
            .welcome__left
                .welcome__left-wrap
                    .welcome__title
                        picture.uk
                            source(media="(max-width: 1050px)" srcset='img/welcome/title-mob.png')
                            img(src="img/welcome/title.png" alt="favbet")
                        picture.en
                            source(media="(max-width: 1050px)" srcset='img/welcome/title-mob-en.png')
                            img(src="img/welcome/title-en.png" alt="favbet")
                    .welcome__found.title(data-translate="welcomeFound") призовий фонд
                    .welcome__prize.title(data-translate="welcomePrize") #[span до] #[span 10 000 000 ₴] #[span *]
                    a.welcome__btn.btn.unauth-msg(data-translate="authBtn" href="/login") авторизуйся
                    button.welcome__btn.btn.part-btn.hide(data-translate="joinBtn") взяти участь
                    button.welcome__btn.btn.play-btn.hide(data-translate="playBtn") до гри
                    button.welcome__btn.btn.deposit-btn.hide(data-translate="depositBtn") зробити депозит
            .welcome__right
                .welcome__pers
                    picture.welcome__pers-item.welcome__pers-item--left
                        source(media="(max-width: 600px)" srcset='img/welcome/pers-left-mob.png')
                        source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/welcome/pers-left-mob.png')
                        source(media="(max-width: 1050px)" srcset='img/welcome/pers-left-tab.png')
                        img(src="img/welcome/pers-left.png" alt="Favbet")
                    picture.welcome__pers-item.welcome__pers-item--center
                        source(media="(max-width: 600px)" srcset='img/welcome/pers-center-mob.png')
                        source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/welcome/pers-center-mob.png')
                        source(media="(max-width: 1050px)" srcset='img/welcome/pers-center-tab.png')
                        img(src="img/welcome/pers-center.png" alt="Favbet")
                    picture.welcome__pers-item.welcome__pers-item--right
                        source(media="(max-width: 600px)" srcset='img/welcome/pers-right-mob.png')
                        source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/welcome/pers-right-mob.png')
                        source(media="(max-width: 1050px)" srcset='img/welcome/pers-right-tab.png')
                        img(src="img/welcome/pers-right.png" alt="Favbet")
                    picture.welcome__pers-item.welcome__pers-item--light
                        source(media="(max-width: 600px)" srcset='img/welcome/light-mob.png')
                        source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/welcome/light-mob.png')
                        img(src="img/welcome/light.png" alt="Favbet")
                    picture.welcome__pers-item.welcome__pers-item--box-left
                        source(media="(max-width: 600px)" srcset='img/welcome/box-left-mob.png')
                        source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/welcome/box-left-mob.png')
                        img(src="img/welcome/box-left.png" alt="Favbet")
                    picture.welcome__pers-item.welcome__pers-item--coins-front
                        source(media="(max-width: 600px)" srcset='img/welcome/coins-front-mob.png')
                        source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/welcome/coins-front-mob.png')
                        img(src="img/welcome/coins-front.png" alt="Favbet")
                    picture.welcome__pers-item.welcome__pers-item--coins-back
                        source(media="(max-width: 600px)" srcset='img/welcome/coins-back-mob.png')
                        source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/welcome/coins-back-mob.png')
                        img(src="img/welcome/coins-back.png" alt="Favbet")
                    picture.welcome__pers-item.welcome__pers-item--coin
                        source(media="(max-width: 600px)" srcset='img/welcome/coin-mob.png')
                        source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/welcome/coin-mob.png')
                        img(src="img/welcome/coin.png" alt="Favbet")
                    picture.welcome__pers-item.welcome__pers-item--box
                        source(media="(max-width: 600px)" srcset='img/welcome/box-mob.png')
                        source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/welcome/box-mob.png')
                        img(src="img/welcome/box.png" alt="Favbet")

    .prize
        .prize__title.title(data-translate="prizeTitle") Призи
        .prize__slider
            .cards
                //- Картка 1
                .card._left2
                    .glitch__layers
                        .glitch__layer
                        .glitch__layer
                        .glitch__layer
                    .card__popup(data-popup="infoPrize1")
                    picture.card__img
                        source(media="(max-width: 600px)" srcset='img/prize/prize1-mob.png')
                        source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/prize/prize1-mob.png')
                        img(src="img/prize/prize1.png" alt="Favbet")
                    .card__text(data-translate="textPrize1") Навушники SteelSeries Arctis
                    .card__amount(data-translate="amountPrize1") 15 штук

                //- Картка 2
                .card._left1
                    .glitch__layers
                        .glitch__layer
                        .glitch__layer
                        .glitch__layer
                    .card__popup(data-popup="infoPrize2")
                    picture.card__img
                        source(media="(max-width: 600px)" srcset='img/prize/prize2-mob.png')
                        source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/prize/prize2-mob.png')
                        img(src="img/prize/prize2.png" alt="Favbet")
                    .card__text(data-translate="textPrize2") Консоль Nintendo Switch 2
                    .card__amount(data-translate="amountPrize2") 10 штук

                //- Картка 3
                .card._active
                    .glitch__layers
                        .glitch__layer
                        .glitch__layer
                        .glitch__layer
                    .card__popup(data-popup="infoPrize3")
                    picture.card__img
                        source(media="(max-width: 600px)" srcset='img/prize/prize3-mob.png')
                        source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/prize/prize3-mob.png')
                        img(src="img/prize/prize3.png" alt="Favbet")
                    .card__text(data-translate="textPrize3") Телефон Apple iPhone 16 Pro Max
                    .card__amount(data-translate="amountPrize3") 5 штук

                //- Картка 4
                .card._right1
                    .glitch__layers
                        .glitch__layer
                        .glitch__layer
                        .glitch__layer
                    .card__popup(data-popup="infoPrize4")
                    picture.card__img
                        source(media="(max-width: 600px)" srcset='img/prize/prize4-mob.png')
                        source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/prize/prize4-mob.png')
                        img(src="img/prize/prize4.png" alt="Favbet")
                    .card__text(data-translate="textPrize4") Окуляри віртуальної реальності PS VR2
                    .card__amount(data-translate="amountPrize4") 10 штук

                //- Картка 5
                .card._right2
                    .glitch__layers
                        .glitch__layer
                        .glitch__layer
                        .glitch__layer
                    .card__popup(data-popup="infoPrize5")
                    picture.card__img
                        source(media="(max-width: 600px)" srcset='img/prize/prize5-mob.png')
                        source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/prize/prize5-mob.png')
                        img(src="img/prize/prize5.png" alt="Favbet")
                    .card__text(data-translate="textPrize5") Ігрова приставка PlayStation 5 Slim
                    .card__amount(data-translate="amountPrize5") 10 штук

                //- Картка 6
                .card
                    .glitch__layers
                        .glitch__layer
                        .glitch__layer
                        .glitch__layer
                    .card__popup(data-popup="infoPrize6")
                    picture.card__img
                        source(media="(max-width: 600px)" srcset='img/prize/prize6-mob.png')
                        source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/prize/prize6-mob.png')
                        img(src="img/prize/prize6.png" alt="Favbet")
                    .card__text(data-translate="textPrize6") Ноутбук Gigabyte Aorus 16X 9SG
                    .card__amount(data-translate="amountPrize6") 10 штук

                //- Картка 7
                .card
                    .glitch__layers
                        .glitch__layer
                        .glitch__layer
                        .glitch__layer
                    .card__popup(data-popup="infoPrize7")
                    picture.card__img
                        source(media="(max-width: 600px)" srcset='img/prize/prize7-mob.png')
                        source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/prize/prize7-mob.png')
                        img(src="img/prize/prize7.png" alt="Favbet")
                    .card__text(data-translate="textPrize7") Електросамокат Proove Model X-City
                    .card__amount(data-translate="amountPrize7") 10 штук

                //- Картка 8
                .card
                    .glitch__layers
                        .glitch__layer
                        .glitch__layer
                        .glitch__layer
                    .card__popup(data-popup="infoPrize8")
                    picture.card__img
                        source(media="(max-width: 600px)" srcset='img/prize/prize8-mob.png')
                        source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/prize/prize8-mob.png')
                        img(src="img/prize/prize8.png" alt="Favbet")
                    .card__text(data-translate="textPrize8") Телевізор Samsung OLED 77
                    .card__amount(data-translate="amountPrize8") 10 штук

                //- Картка 9
                .card
                    .glitch__layers
                        .glitch__layer
                        .glitch__layer
                        .glitch__layer
                    .card__popup(data-popup="infoPrize9")
                    picture.card__img
                        source(media="(max-width: 600px)" srcset='img/prize/prize9-mob.png')
                        source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/prize/prize9-mob.png')
                        img(src="img/prize/prize9.png" alt="Favbet")
                    .card__text(data-translate="textPrize9") ХХ FS

                //- Картка 10
                .card
                    .glitch__layers
                        .glitch__layer
                        .glitch__layer
                        .glitch__layer
                    .card__popup(data-popup="infoPrize10")
                    picture.card__img
                        source(media="(max-width: 600px)" srcset='img/prize/prize10-mob.png')
                        source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/prize/prize10-mob.png')
                        img(src="img/prize/prize10.png" alt="Favbet")
                    .card__text(data-translate="textPrize10") Страховка ставки ХХХХ
                //- Картка 11
                .card
                    .glitch__layers
                        .glitch__layer
                        .glitch__layer
                        .glitch__layer
                    .card__popup(data-popup="infoPrize11")
                    picture.card__img
                        source(media="(max-width: 600px)" srcset='img/prize/prize11-mob.png')
                        source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/prize/prize11-mob.png')
                        img(src="img/prize/prize11.png" alt="Favbet")
                    .card__text(data-translate="textPrize11") Пощастить наступний раз
                //- Картка 12
                .card
                    .glitch__layers
                        .glitch__layer
                        .glitch__layer
                        .glitch__layer
                    .card__popup(data-popup="infoPrize12")
                    picture.card__img
                        source(media="(max-width: 600px)" srcset='img/prize/prize12-mob.png')
                        source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/prize/prize12-mob.png')
                        img(src="img/prize/prize12.png" alt="Favbet")
                    .card__text(data-translate="textPrize12") Відкрити ще
            .prize__move
                .prize__move-left
                .prize__move-right
        .prize__dots
            .prize__dots-item
            .prize__dots-item
            .prize__dots-item
            .prize__dots-item
            .prize__dots-item
            .prize__dots-item
            .prize__dots-item
            .prize__dots-item
            .prize__dots-item
            .prize__dots-item
            .prize__dots-item
            .prize__dots-item
    .box
        .box__left
            .box__logo
            .box__coins
                .box__coins-item
                    img(src="img/box/coins/coin1.png" alt="favbet")
                .box__coins-item
                    img(src="img/box/coins/coin2.png" alt="favbet")
                .box__coins-item
                    img(src="img/box/coins/coin3.png" alt="favbet")
                .box__coins-item
                    img(src="img/box/coins/coin4.png" alt="favbet")
                .box__coins-item
                    img(src="img/box/coins/coin5.png" alt="favbet")
                .box__coins-item
                    img(src="img/box/coins/coin6.png" alt="favbet")
                .box__coins-item
                    img(src="img/box/coins/coin7.png" alt="favbet")
            .box__open
                picture.box__open-cap
                    source(media="(max-width: 600px)" srcset='img/box/open-cap-mob.png')
                    source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/box/open-cap-mob.png')
                    img(src="img/box/open-cap.png" alt="Favbet")
                .box__open-body
                    source(media="(max-width: 600px)" srcset='img/box/open-body-mob.png')
                    source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/box/open-body-mob.png')
                    img(src="img/box/open-body.png" alt="Favbet")
        .box__right
            .box__right-title.title(data-translate="yourProgress") твій прогрес-бар
            .box__progress
                .box__progress-body
                    .box__progress-bar
                .box__progress-counter.title 1000/1000
            .box__last
                .box__last-text(data-translate="lastUpd") Oстаннє оновлення:
                .box__last-date ХХ.ХХ.2025 о хх:хх
            .box__right-wrap
                a.box__btn.btn.unauth-msg.hide(data-translate="authBtn" href="/login") авторизуйся
                button.box__btn.btn.part-btn.hide(data-translate="joinBtn") взяти участь
                button.box__btn.btn-open.play-btn
                    span.btn-open-text(data-translate="openBtn") відкрити
                    span.btn-open-counter(data-translate="openCounter") 2 відкриття
                button.box_btn.btn.deposit-btn.hide(data-translate="depositBtn") зробити депозит
                .box__right-info(data-translate="boxInfo") Кожна 1 000 ₴ виграшних ставок = 1 відкриття Фавбоксу.
            .box__right-mob
                .box__right-info(data-translate="boxInfo") Кожна 1 000 ₴ виграшних ставок = 1 відкриття Фавбоксу.
                .box__right-bottom
                    .box__right-bottom-icon
                    .box__right-bottom-text(data-transpate="moreSpins") Більше обертів — більше Фавбоксів.
        .box__bottom
            .box__bottom-left
                .box__bottom-icon
                    img(src="img/box/icon-casino.png" alt="favbet")
                a.box__bottom-btn.btn(data-translate="casinoBtn" href="#") грати в казино
            .box__bottom-separator
                img(src="img/box/icon-separator.png" alt="favbet")
            .box__bottom-right
                .box__bottom-icon
                    img(src="img/box/icon-sport.png" alt="favbet")
                a.box__bottom-btn.btn(data-translate="sportBtn" href="#") ставити на спорт
    .drop.drop--spins
        details.dropdown
            summary(data-translate="mySpins") Історія відкритих Фавбоксів
            .drop-txt
                .drop-txt-list.my-spins
                    .spins-row
                        .spins-row-head
                            .content-date(data-translate="myBetDate") Дата
                            .content-prize(data-translate="myBetId") Приз
                    .spins-row
                        .spins-row-item
                            .content-date 18.08
                            .content-prize Навушники SteelSeries Arctis
                    .spins-row
                        .spins-row-item
                            .content-date 18.08
                            .content-prize Консоль Nintendo Switch 2
                    .spins-row
                        .spins-row-item
                            .content-date 18.08
                            .content-prize Телефон Apple iPhone 16 Pro Max
                    .spins-row
                        .spins-row-item
                            .content-date 18.08
                            .content-prize Окуляри віртуальної реальності PS VR2
                    .spins-row
                        .spins-row-item
                            .content-date 18.08
                            .content-prize Ігрова приставка PlayStation 5 Slim
                    .spins-row
                        .spins-row-item
                            .content-date 18.08
                            .content-prize Ноутбук Gigabyte Aorus 16X 9SG
                    .spins-row
                        .spins-row-item
                            .content-date 18.08
                            .content-prize Електросамокат Proove Model X-City
                    .spins-row
                        .spins-row-item
                            .content-date 18.08
                            .content-prize Телевізор Samsung OLED 77
                    .spins-row
                        .spins-row-item
                            .content-date 18.08
                            .content-prize XX FS
                    .spins-row
                        .spins-row-item
                            .content-date 18.08
                            .content-prize Страховка ставки XXXX
                    .spins-row
                        .spins-row-item
                            .content-date 18.08
                            .content-prize Пощастить наступний раз
                    .spins-row
                        .spins-row-item
                            .content-date 18.08
                            .content-prize Відкрити ще

                    .no-spins.hide(data-translate="noBets") &#8203;
    .drop
        details.dropdown
            summary(data-translate="openGuideBtn") Як відкрити Фавбокс
            .drop-txt
                .drop-txt-list(data-translate="openGuide")
                    p Ставки на футбол – рекомендований варіант для новачків світу беттінга.
                    p.circle За межами стадіонів фанати купували за мінімальною ціною (згодом квитки почали поширюватися через газети, їх вирізали);
                    p.circle У картки вболівальниками вносилися ті результати майбутніх матчів «ігри номер один», які, на їхню думку, були вірогіднішими;
                    p.circle Купони передавалися агенту-збиральнику пулів або відправлялися до компанії-організатора поштою.
                    p Спеціалізована контора гарантувала, що протягом тижня буде щонайменше один переможець. Щасливчики визначалися за кількістю набраних балів серед усіх фанатів, які надіслали картки.
    .drop
        details.dropdown
            summary(data-translate="bonusInfoBtn") Які бонуси та фізичні призи я можу отримати?
            .drop-txt
                .drop-txt-list(data-translate="bonusInfo")
                    p Ставки на футбол – рекомендований варіант для новачків світу беттінга.
                    p.circle За межами стадіонів фанати купували за мінімальною ціною (згодом квитки почали поширюватися через газети, їх вирізали);
                    p.circle У картки вболівальниками вносилися ті результати майбутніх матчів «ігри номер один», які, на їхню думку, були вірогіднішими;
                    p.circle Купони передавалися агенту-збиральнику пулів або відправлялися до компанії-організатора поштою.
                    p Спеціалізована контора гарантувала, що протягом тижня буде щонайменше один переможець. Щасливчики визначалися за кількістю набраних балів серед усіх фанатів, які надіслали картки.
    .drop
        details.dropdown
            summary(data-translate="rulseBtn") Офіційні правила
            .drop-txt
                .drop-txt-list(data-translate="rules")
                    p Ставки на футбол – рекомендований варіант для новачків світу беттінга.
                    p.circle За межами стадіонів фанати купували за мінімальною ціною (згодом квитки почали поширюватися через газети, їх вирізали);
                    p.circle У картки вболівальниками вносилися ті результати майбутніх матчів «ігри номер один», які, на їхню думку, були вірогіднішими;
                    p.circle Купони передавалися агенту-збиральнику пулів або відправлялися до компанії-організатора поштою.
                    p.retreat1 Спеціалізована контора гарантувала, що протягом тижня буде щонайменше один пе
                    p.retreat2 Спеціалізована контора гарантувала, що протягом тижня буде щонайменше один пе
                    p Ставки на футбол – рекомендований варіант для новачків світу беттінга.
                    p.circle За межами стадіонів фанати купували за мінімальною ціною (згодом квитки почали поширюватися через газети, їх вирізали);
                    p.circle У картки вболівальниками вносилися ті результати майбутніх матчів «ігри номер один», які, на їхню думку, були вірогіднішими;
                    p.circle Купони передавалися агенту-збиральнику пулів або відправлялися до компанії-організатора поштою.
                    p Спеціалізована контора гарантувала, що протягом тижня буде щонайменше один переможець. Щасливчики визначалися за кількістю набраних балів серед усіх фанатів, які надіслали картки.
    .fav-page__bottom(data-translate="bottomText") *Загальний призовий фонд акції «ВСЕСВІТ ГРИ» складається з бонусних пропозицій та фізичних призів на загальну суму до 10 000 000 ₴. Вид, формат та розмір бонусних пропозицій (та/або подарунків) визначається і пропонується учасникам виключно на розсуд Організатора. Деталі на сайті www.favbet.ua. Період дії акції – з ХХ.08.2025 до ХХ.09.2025 року
    .popups.opacity-overlay
        //- Попап 1
        .popup(data-popup="prize1")
            .popup__wrap
                .popup__title.title(data-translate="popupTitle") Твій виграш
                .card
                    picture.card__img
                        source(media="(max-width: 600px)" srcset='img/prize/prize1-mob.png')
                        source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/prize/prize1-mob.png')
                        img(src="img/prize/prize1.png" alt="Favbet")
                    .card__text(data-translate="textPrize1") Навушники SteelSeries Arctis
                    .card__close
                .popup__connect
                    .popup__connect-icon
                    .popup__connect-text(data-translate="popupConnectText") Наша команда звʼяжеться з тобою для уточнення всіх деталей.
                button.popup__btn.btn.hide(data-translate="playMoreBtn") Грати ще
                button.popup__btn.btn-open.play-btn
                    span.btn-open-text(data-translate="openBtn") відкрити
                    span.btn-open-counter(data-translate="openCounter") 2 відкриття

        //- Попап 2
        .popup(data-popup="prize2")
            .popup__wrap
                .popup__title.title(data-translate="popupTitle") Твій виграш
                .card
                    picture.card__img
                        source(media="(max-width: 600px)" srcset='img/prize/prize2-mob.png')
                        source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/prize/prize2-mob.png')
                        img(src="img/prize/prize2.png" alt="Favbet")
                    .card__text(data-translate="textPrize2") Консоль Nintendo Switch 2
                    .card__close
                .popup__connect
                    .popup__connect-icon
                    .popup__connect-text(data-translate="popupConnectText") Наша команда звʼяжеться з тобою для уточнення всіх деталей.
                button.popup__btn.btn.hide(data-translate="playMoreBtn") Грати ще
                button.popup__btn.btn-open.play-btn
                    span.btn-open-text(data-translate="openBtn") відкрити
                    span.btn-open-counter(data-translate="openCounter") 2 відкриття

        //- Попап 3
        .popup(data-popup="prize3")
            .popup__wrap
                .popup__title.title(data-translate="popupTitle") Твій виграш
                .card
                    picture.card__img
                        source(media="(max-width: 600px)" srcset='img/prize/prize3-mob.png')
                        source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/prize/prize3-mob.png')
                        img(src="img/prize/prize3.png" alt="Favbet")
                    .card__text(data-translate="textPrize3") Телефон Apple iPhone 16 Pro Max
                    .card__close
                .popup__connect
                    .popup__connect-icon
                    .popup__connect-text(data-translate="popupConnectText") Наша команда звʼяжеться з тобою для уточнення всіх деталей.
                button.popup__btn.btn.hide(data-translate="playMoreBtn") Грати ще
                button.popup__btn.btn-open.play-btn
                    span.btn-open-text(data-translate="openBtn") відкрити
                    span.btn-open-counter(data-translate="openCounter") 2 відкриття

        //- Попап 4
        .popup(data-popup="prize4")
            .popup__wrap
                .popup__title.title(data-translate="popupTitle") Твій виграш
                .card
                    picture.card__img
                        source(media="(max-width: 600px)" srcset='img/prize/prize4-mob.png')
                        source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/prize/prize4-mob.png')
                        img(src="img/prize/prize4.png" alt="Favbet")
                    .card__text(data-translate="textPrize4") Окуляри віртуальної реальності PS VR2
                    .card__close
                .popup__connect
                    .popup__connect-icon
                    .popup__connect-text(data-translate="popupConnectText") Наша команда звʼяжеться з тобою для уточнення всіх деталей.
                button.popup__btn.btn.hide(data-translate="playMoreBtn") Грати ще
                button.popup__btn.btn-open.play-btn
                    span.btn-open-text(data-translate="openBtn") відкрити
                    span.btn-open-counter(data-translate="openCounter") 2 відкриття

        //- Попап 5
        .popup(data-popup="prize5")
            .popup__wrap
                .popup__title.title(data-translate="popupTitle") Твій виграш
                .card
                    picture.card__img
                        source(media="(max-width: 600px)" srcset='img/prize/prize5-mob.png')
                        source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/prize/prize5-mob.png')
                        img(src="img/prize/prize5.png" alt="Favbet")
                    .card__text(data-translate="textPrize5") Ігрова приставка PlayStation 5 Slim
                    .card__close
                .popup__connect
                    .popup__connect-icon
                    .popup__connect-text(data-translate="popupConnectText") Наша команда звʼяжеться з тобою для уточнення всіх деталей.
                button.popup__btn.btn.hide(data-translate="playMoreBtn") Грати ще
                button.popup__btn.btn-open.play-btn
                    span.btn-open-text(data-translate="openBtn") відкрити
                    span.btn-open-counter(data-translate="openCounter") 2 відкриття

        //- Попап 6
        .popup(data-popup="prize6")
            .popup__wrap
                .popup__title.title(data-translate="popupTitle") Твій виграш
                .card
                    picture.card__img
                        source(media="(max-width: 600px)" srcset='img/prize/prize6-mob.png')
                        source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/prize/prize6-mob.png')
                        img(src="img/prize/prize6.png" alt="Favbet")
                    .card__text(data-translate="textPrize6") Ноутбук Gigabyte Aorus 16X 9SG
                    .card__close
                .popup__connect
                    .popup__connect-icon
                    .popup__connect-text(data-translate="popupConnectText") Наша команда звʼяжеться з тобою для уточнення всіх деталей.
                button.popup__btn.btn.hide(data-translate="playMoreBtn") Грати ще
                button.popup__btn.btn-open.play-btn
                    span.btn-open-text(data-translate="openBtn") відкрити
                    span.btn-open-counter(data-translate="openCounter") 2 відкриття

        //- Попап 7
        .popup(data-popup="prize7")
            .popup__wrap
                .popup__title.title(data-translate="popupTitle") Твій виграш
                .card
                    picture.card__img
                        source(media="(max-width: 600px)" srcset='img/prize/prize7-mob.png')
                        source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/prize/prize7-mob.png')
                        img(src="img/prize/prize7.png" alt="Favbet")
                    .card__text(data-translate="textPrize7") Електросамокат Proove Model X-City
                    .card__close
                .popup__connect
                    .popup__connect-icon
                    .popup__connect-text(data-translate="popupConnectText") Наша команда звʼяжеться з тобою для уточнення всіх деталей.
                button.popup__btn.btn.hide(data-translate="playMoreBtn") Грати ще
                button.popup__btn.btn-open.play-btn
                    span.btn-open-text(data-translate="openBtn") відкрити
                    span.btn-open-counter(data-translate="openCounter") 2 відкриття

        //- Попап 8
        .popup(data-popup="prize8")
            .popup__wrap
                .popup__title.title(data-translate="popupTitle") Твій виграш
                .card
                    picture.card__img
                        source(media="(max-width: 600px)" srcset='img/prize/prize8-mob.png')
                        source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/prize/prize8-mob.png')
                        img(src="img/prize/prize8.png" alt="Favbet")
                    .card__text(data-translate="textPrize8") Телевізор Samsung OLED 77
                    .card__close
                .popup__connect
                    .popup__connect-icon
                    .popup__connect-text(data-translate="popupConnectText") Наша команда звʼяжеться з тобою для уточнення всіх деталей.
                button.popup__btn.btn.hide(data-translate="playMoreBtn") Грати ще
                button.popup__btn.btn-open.play-btn
                    span.btn-open-text(data-translate="openBtn") відкрити
                    span.btn-open-counter(data-translate="openCounter") 2 відкриття

        //- Попап 9
        .popup(data-popup="prize9")
            .popup__wrap
                .popup__title.title(data-translate="popupTitle") Твій виграш
                .card
                    picture.card__img
                        source(media="(max-width: 600px)" srcset='img/prize/prize9-mob.png')
                        source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/prize/prize9-mob.png')
                        img(src="img/prize/prize9.png" alt="Favbet")
                    .card__text(data-translate="textPrize9") ХХ FS
                    .card__close
                button.popup__btn.btn.hide(data-translate="playMoreBtn") Грати ще
                button.popup__btn.btn-open.play-btn
                    span.btn-open-text(data-translate="openBtn") відкрити
                    span.btn-open-counter(data-translate="openCounter") 2 відкриття

        //- Попап 10
        .popup(data-popup="prize10")
            .popup__wrap
                .popup__title.title(data-translate="popupTitle") Твій виграш
                .card
                    picture.card__img
                        source(media="(max-width: 600px)" srcset='img/prize/prize10-mob.png')
                        source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/prize/prize10-mob.png')
                        img(src="img/prize/prize10.png" alt="Favbet")
                    .card__text(data-translate="textPrize10") Страховка ставки ХХХХ
                    .card__close
                button.popup__btn.btn.hide(data-translate="playMoreBtn") Грати ще
                button.popup__btn.btn-open.play-btn
                    span.btn-open-text(data-translate="openBtn") відкрити
                    span.btn-open-counter(data-translate="openCounter") 2 відкриття

        //- Попап 11
        .popup(data-popup="prize11")
            .popup__wrap
                .popup__title.title(data-translate="popupTitle") Твій виграш
                .card
                    picture.card__img
                        source(media="(max-width: 600px)" srcset='img/prize/prize11-mob.png')
                        source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/prize/prize11-mob.png')
                        img(src="img/prize/prize11.png" alt="Favbet")
                    .card__text(data-translate="textPrize11") Пощастить наступний раз
                    .card__close
                button.popup__btn.btn.hide(data-translate="playMoreBtn") Грати ще
                button.popup__btn.btn-open.play-btn
                    span.btn-open-text(data-translate="openBtn") відкрити
                    span.btn-open-counter(data-translate="openCounter") 2 відкриття

        //- Попап 12
        .popup(data-popup="prize12")
            .popup__wrap
                .popup__title.title(data-translate="popupTitle") Твій виграш
                .card
                    picture.card__img
                        source(media="(max-width: 600px)" srcset='img/prize/prize12-mob.png')
                        source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/prize/prize12-mob.png')
                        img(src="img/prize/prize12.png" alt="Favbet")
                    .card__text(data-translate="textPrize12") Відкрити ще
                    .card__close
                button.popup__btn.btn.hide(data-translate="playMoreBtn") Грати ще
                button.popup__btn.btn-open.play-btn
                    span.btn-open-text(data-translate="openBtn") відкрити
                    span.btn-open-counter(data-translate="openCounter") 2 відкриття


        //prize preloader

        .popup.popup--preloader(data-popup="preloader")
            .card
                .card__inner.is-hide
                    .card__front
                        img(src='img/logo-green.png' alt="favbet")
                .card__inner.card__inner--prize.is-hide
                    .card__front
                        img(src='img/logo-blue.png' alt="favbet")
                    - for (let i = 1; i <= 12; i++)
                        .card__back.hide(data-prize=`prize${i}`)
                            picture.card__img
                                source(media="(max-width: 600px)" srcset=`img/prize/prize${i}-mob.png`)
                                source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset=`img/prize/prize${i}-mob.png`)
                                img(src=`img/prize/prize${i}.png` alt="Favbet")
                            .card__text(data-translate=`textPrize${i}`) Навушники SteelSeries Arctis

                .card__inner.is-hide
                    .card__front
                        img(src='img/logo-red.png' alt="favbet")

        //prize preloader

        /// info prize popups

        - for (let i = 1; i <= 12; i++)
            .popup.popup--info(data-popup=`infoPrize${i}`)
                .popup__wrap
                    .popup__close
                    .popup__title(data-translate=`infoTitlePrize${i}`) Консоль Nintendo Switch 2 + Mario Kart World (слайд #{i})
                    .popup__scroll
                        .popup__text(data-translate=`infoTextPrize${i}`) Процесор: спеціальний процесор від NVIDIA. Підтримка: HDR10, VRR до 120 Гц. Провідний зв’язок: у ТВ-режимі можна підключити через дротовий LAN-порт на док-станції. Максимальна роздільна здатність: 3840 × 2160 (4K) при 60 FPS (у ТВ-режимі); 120 FPS при виборі роздільної здатності 1920×1080 або 2560 × 1440; у портативному та настільному режимі максимальна роздільна здатність — 1920 × 1080. Час зарядки: близько 3 годин (у режимі сну). Габарити: 114 x 272 x 14 мм (з підключеними контролерами Joy-Con 2). Платформа: Nintendo Switch. Тип: портативні. Обсяг вбудованої пам'яті: 256 ГБ. Максимальна підтримувана роздільна здатність: 1920 х 1080 (Full HD). Ігрові консолі: Nintendo. Особливості: З сенс


